.yayboost-ui {
  @apply text-foreground text-sm;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  .scroll-container {
    scrollbar-width: thin;
  }
}

* {
  @apply border-border outline-ring/50 hover:ring-primary-accent ring-primary;
}

/* Override wp styles */

.yayboost-ui {
  :where(button, code, form, h1, h2, h3, h4, h5, h6, input, ul, ol, li, nav, p, textarea) {
    @apply m-0 p-0;
  }
}

.yayboost-ui #wpcontent {
  padding-left: 0px !important;
}

.yayboost-ui #wpbody-content > .wrap {
  margin: 0;
}
